@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Colors */
  --color-accent: #10b981;
  
  /* Fonts */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}